# 立花証券e支店API
TACHIBANA_USER_ID=your_user_id
TACHIBANA_PASSWORD=your_password
TACHIBANA_SECOND_PASSWORD=
TACHIBANA_ENV=demo

# J-Quants API
JQUANTS_MAILADDRESS=your_email
JQUANTS_PASSWORD=your_password
